@(
    userForm: Form[User.UserForm]
)

@content = {
    <form id="create-account-form" action="/doCreateAccount" method="post" data-parsley-validate>
        <input value='@userForm.get().mail' name="mail" required placeholder="Mail..." type="text" class="form-control" >
        <input value='@userForm.get().login' name="login" required placeholder="Login..." type="text" class="form-control" >
        <input value='@userForm.get().password' name="password" required placeholder="Password..." type="password" class="form-control" >
        <input type="hidden" name="url" id="url">
    </form>
}

@footer = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" form="create-account-form" class="btn btn-primary">Create</button>
}

@templates.modal("Create account", content, footer)
