body {
    background-color: #F2EDED;
}

hr {
    border-color: #dddddd;
}

form > input,
form > textarea,
.margin-top-5{
    margin-top: 5px;
}

.modal-dialog {
    width:700px !important;
}

.disabled-effect {
    opacity: 0.3;
    border-color: red;
}

.disabled-text {
    position:relative;
    margin: 80%;
}

.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
}

.affix {
    position: fixed;
    top:70px;
    width:228px;
}

.thumbnail {
    border-radius: 10px;
}

.page-header {
    margin-top: 10px;
}