@(item: controllers.ShoppingCart.CartItem)

<div class="row cart-row" data-id="@item.id" data-key="@item.key" style="padding:5px;">
    <div class="col-md-12">
        <div class="row">
            <h4 style="word-wrap:break-word;">@item.name</h4>
        </div>
        <div class="row">
            <div class="col-md-3">
            <div style="margin-top:12px;">@item.quantity units</div>
            </div>
            <div class="col-md-6">
                <span class="label label-default margin-top-5" style="float:right;margin-right:10px;border-radius: 10px !important;"><h5>$<span class="price">@item.price()</span></h5></span>
            </div>
            <div class="col-md-3">
                <button style="margin-top:10px;" class="remove-from-cart btn btn-default"><i class="glyphicon glyphicon-trash"></i> </button>
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
    </div>
</div>
