@(
    title: String = "",
    content: Html,
    footer: Html
)
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@title</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12" id="modal-alert" style="display:none;">
                <button class="close" style="margin:3px;">×</button>
                <div id="modal-alert-message" class="alert alert-error"></div>
            </div>
            @content
        </div>
        <div class="modal-footer">
            @footer
        </div>
    </div>
</div>