@(bills: List[models.Bill], admin: Int)

@import utils.Session

<div class="panel-group" id="accordion" xmlns="http://www.w3.org/1999/html">
    @for((bill,i) <- bills.zipWithIndex){
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#order@bill.id">
                    @bill.date.format("dd/MM/yyyy")  <span class="label label-default" style="border-radius:10px;">$@bill.total</span>
                </a>
                <div style="float:right;">
                    <b>@bill.userLogin</b>
                </div>
            </h3>
        </div>
        <div id="order@bill.id" class="panel-collapse collapse @if(i==0){in}">
            <div class="panel-body">
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4" style="text-align:right;"><b>Shipment Address :</b></div>
                                <div class="col-md-8">@bill.shipmentAddress</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4" style="text-align:right;"><b> Buyer Name :</b></div>
                                <div class="col-md-8">@bill.buyerName</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4" style="text-align:right;"><b>Date :</b></div>
                                <div class="col-md-8">@bill.date.toString()</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4" style="text-align:right;"><b>Total Price :</b></div>
                                <div class="col-md-8">$@bill.total</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Unit price</th>
                                <th>Quantity*unit</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(line <- bill.billLines){
                            <tr>
                                <td>@line.productName</td>
                                <td>@line.quantity</td>
                                <td>@line.productPrice</td>
                                <td class="sum">@{line.quantity*line.productPrice}</td>
                            </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td align="right"><b>Total Price :</b></td>
                                <td>@bill.total</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>