@(product: models.Product)

@import utils.Session
@import controllers.admin.Products
@import views.html.templates

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail" style="min-height: 550px;position:relative;">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#description@product.id" role="tab" data-toggle="tab">Description</a></li>
                        <li role="presentation"><a href="#comments@product.id" role="tab" data-toggle="tab">Comments</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="padding:10px;">

                        <!--DESCRIPTION-->
                        <div role="tabpanel" class="tab-pane active" id="description@product.id">
                            <div class="row">
                                <div class="col-md-6 llama-picture" data-product-id="@product.id" style="text-align: center;padding:10px;">
                                    @if(Products.havePicture(product.id)){
                                    <img src='@routes.Assets.at("images/llamas/llama-"+product.id+".jpg")' style="width:200px;height: 200px;display:inline;">
                                    } else {
                                    <img src='@routes.Assets.at("images/llamas/no-llama.jpg")' style="width:200px;height: 200px;display:inline;">
                                    }
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3><b>@product.name</b></h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input class="small-rating" style="display:none;" readonly data-size="xs" value="@product.rating()">
                                        </div>
                                        <div class="col-md-8">
                                            <h4><span class="label label-default" style="float:right;margin-right:10px;">$@product.price</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr />
                                    <p>@product.description</p>
                                </div>
                            </div>
                        </div>

                        <!--COMMENTS-->
                        <div role="tabpanel" class="tab-pane" id="comments@product.id" style="word-break:break-word;">
                            @if(!Session.isLogged()){
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6" style="text-align: center;">
                                    <div class="alert alert-danger">You must be logged in to comment on this product</div>
                                </div>
                            </div>
                            }else{
                            <div class="row @if(!Session.isLogged()){disabled-effect}">
                                <div class="col-md-12">
                                    <form class="form-horizontal comment-form" onsubmit="return false;">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <textarea required name="text" class="form-control" placeholder="Comment..."></textarea>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="small-rating" style="display:none;" required data-size="xs" name="rating">
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" class="btn btn-success" style="margin-top:10px;float:right;">Add comment</button>
                                            </div>
                                        </div>
                                        <input type="hidden" value="@product.id" name="productId">
                                    </form>
                                    <hr />
                                </div>
                            </div>
                            }
                            <div class="row">
                                <div class="col-md-3" style="text-align:center;">
                                    <b>User</b>
                                </div>
                                <div class="col-md-5" style="text-align:center;">
                                    <b>Comment</b>
                                </div>
                                <div class="col-md-4" style="text-align:center;">
                                    <b>Rating</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="overflow: auto;height:308px;">
                                    <table class="table table-striped">
                                    <tbody class="comment-list">
                                        @for((comment, i) <- product.comments.zipWithIndex){
                                            @templates.commentRow(comment)
                                        }
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="position:absolute;bottom:0;right:0;padding-bottom:15px;width:100%;">
                <hr />
                <form class="form-inline" onsubmit="return false;">
                    <div class="form-group col-md-offset-5 col-md-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default quantity-less" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button>
                            </span>
                            <input data-id="@product.id" type="text" style="text-align: center;" value="1" class="number-input form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default quantity-more" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success add-cart"><b>Add to Cart</b>&nbsp; <i class="glyphicon glyphicon-shopping-cart"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>