@(
    productForm: Form[models.Product]
)

@import controllers.admin.Products

@content = {
    <form id="product-form" action="@if(productForm.get().id==null){/createProduct}else{/doEditProduct}" method="post" enctype="multipart/form-data" data-parsley-validate>
        <div class="row">
            <div class="col-md-7">
                <input value='@productForm.get().name' name="name" required placeholder="Name..." type="text" class="margin-top-5 form-control" >
                <textarea name="description" required placeholder="Description..." class="margin-top-5 form-control">@productForm.get().description</textarea>
                <div class="input-group margin-top-5">
                    <input value='@if(productForm.get().price==0){}else{@productForm.get().price}' name="price" required placeholder="Price..." type="text" class="number-input form-control">
                    <span class="input-group-addon">$</span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    @if(productForm.get().id != null && Products.havePicture(productForm.get().id)){
                        <input placeholder="Picture..." id="picture" value="llama-@productForm.get().id" name="picture" type="file" class="margin-top-5">
                        <label class="margin-top-5" for="picture">Current Picture</label>
                    } else {
                        <input placeholder="Picture..." id="picture" value="" name="picture" type="file" class="margin-top-5">
                        <label class="margin-top-5" for="picture">No Picture</label>
                    }
                </div>
                <div class="row">
                    @if(productForm.get().id != null && Products.havePicture(productForm.get().id)){
                    <img style="max-width:200px;max-height:200px;" src="@routes.Assets.at("images/llamas/llama-"+productForm.get().id+".jpg")" class="margin-top-5 img-responsive">
                    } else {
                    <img style="max-width:200px;max-height:200px;" src="@routes.Assets.at("images/llamas/no-llama.jpg")" class="margin-top-5 img-responsive">
                    }
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value="@if(productForm.get().id != null){@productForm.get().id}else{-1}">
    </form>
}

@footer = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" form="product-form" class="btn btn-primary">Save</button>
}

@if(productForm.get().id==null){
    @templates.modal("Create Product", content, footer)
} else {
    @templates.modal("Edit Product", content, footer)
}
