@(products: List[models.Product])

@import controllers.admin.Products

@main("Products administration", "adminProducts"){
    <h1 class="page-header">Products</h1>
    <div class="row">
        <button id="addProduct" class="btn btn-success">Add Product</button>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @for(product <- products){
            <tr data-id="@product.id">
                <td>
                    @if(Products.havePicture(product.id)){
                        <img style="max-width:200px;max-height:200px;" data-product-id="@product.id" src="@routes.Assets.at("images/llamas/llama-"+product.id+".jpg")" class="llama-picture img-responsive">
                    } else {
                        <img style="max-width:200px;max-height:200px;" data-product-id="@product.id" src="@routes.Assets.at("images/llamas/no-llama.jpg")" class="llama-picture img-responsive">
                    }
                </td>
                <td>@product.name</td>
                <td>@product.description</td>
                <td>&#36;@product.price</td>
                <td class="action">
                    <button class="product-edit btn btn-primary"><b>Edit</b>&nbsp;<i class="glyphicon glyphicon-pencil"></i></button>
                    <a href="/deleteProduct/@product.id" class="product-delete btn btn-danger"><b>Delete</b>&nbsp;<i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
}