@import utils.Session

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><b>Llama's wonderful shop</b></a>
        </div>
        <div style="width: 200px;position:absolute;top:0;left:900px;text-align:center;">
            @if(flash().get("error") != null){
            <button class="close" style="margin:3px;">×</button>
            <div class="alert alert-danger">@flash().get("error")</div>
            }
        </div>
        <div style="width: 200px;position:absolute;top:0;left:900px;text-align:center;">
            @if(flash().get("msg") != null){
            <button class="close" style="margin:3px;">×</button>
            <div class="alert alert-success">@flash().get("msg")</div>
            }
        </div>
        @if(Session.userId() != null){
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-right:40px;"><a href="#" id="editAccount">Edit profile</a> </li>
                    <li style="margin-right:40px;"><a href="@routes.Login.disconnect()"><b>Disconnect</b></a></li>
                </ul>
            </div>
        } else {
            <div class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">
                    <button class="btn btn-success show-create-account">Create account</button>
                </div>
                <div class="navbar-form navbar-right">
                    <button id="showLogin" class="btn btn-primary show-login" style="width:130px;">Login</button>
                </div>
            </div>
        }
    </div>
</div>