@(products: List[models.Product])

@import utils.Session

@main("Llama's Awesome Products", "products"){
    <h1 class="page-header">Products</h1>
    <hr />

    <!--SEARCH-->
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12" style="text-align: center;">
            <div class="row">
                <!--ORDER BY-->
                <div class="col-md-offset-1 col-md-4 well">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class='orderby btn btn-primary @if(Session.orderBy()=="name"){active}'>
                                <input type="radio" name="order" value="name">Name&nbsp;<i class="glyphicon glyphicon-sort-by-alphabet"></i>
                            </label>
                            <label class='orderby btn btn-primary @if(Session.orderBy()=="price"){active}'>
                                <input type="radio" name="order" value="price">Price&nbsp;<i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                            </label>
                            <label class='orderby btn btn-primary @if(Session.orderBy()=="rating"){active}'>
                                <input type="radio" name="order" value="rating">Rating&nbsp;<i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <!--SEARCH-->
                <div class="col-md-offset-1 col-md-6 well">
                    <form id="searchForm" class="form-inline" role="form" onsubmit="return false;">
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons">
                                <label class='btn btn-default @if(Session.getFilterType()==""){active}' id="resetFilter">
                                    <input required type="radio" name="type" id="no-filter" value="nofilter" @if(Session.getFilterType()==""){checked}>No filter
                                </label>
                                <label class='btn btn-primary @if(Session.getFilterType()=="name"){active}'>
                                    <input required type="radio" name="type" id="option1" value="name" @if(Session.getFilterType()=="name"){checked}>Name
                                </label>
                                <label class='btn btn-primary @if(Session.getFilterType()=="description"){active}'>
                                    <input required type="radio" name="type" id="option2" value="description" @if(Session.getFilterType()=="description"){checked}>Description
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" required class="form-control" name="searc" id="search" placeholder="Search...">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success"><b>Filter</b>&nbsp;<i class="glyphicon glyphicon-filter"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--PRODUCTS-->
    <div id="products">
        @templates.productList(products)
    </div>
}